<!Doctype html>
</html>
<head>
        <title>404</title>
<link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>We have encountered an error. {{page}} is not available</p>
        </div> 
        {{>footer}}
    </body>

</html>